networks:
  operandi:
    name: operandi
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1450

services:
  traefik:
    image: traefik:v3.4
    container_name: operandi-reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - type: bind
        source: ${OPERANDI_TRAEFIK_CONFIG_YAML}
        target: /etc/traefik/traefik.yaml
        read_only: true
      - type: bind
        source: ${OPERANDI_CERTIFICATES_DIR}
        target: /etc/certstore
    restart: unless-stopped
    networks:
      - operandi

  operandi-rabbitmq:
    image: "rabbitmq:4.2-management"
    container_name: operandi-rabbitmq
    hostname: rabbit-mq-host
    ports:
      - "5672:5672"
      - "15672:15672"
      - "25672:25672"
    volumes:
      - "/rabbitmq-data/etc/:/var/etc/rabbitmq/"
      - "/rabbitmq-data/data/:/var/lib/rabbitmq/"
      - "/rabbitmq-data/log/:/var/log/rabbitmq/"
      - type: bind
        source: ${OPERANDI_RABBITMQ_CONFIG_JSON}
        target: /rmq_definitions.json
    restart: on-failure
    environment:
      - RABBITMQ_SERVER_ERL_ARGS=-rabbitmq_management load_definitions "/rmq_definitions.json"
      - RABBITMQ_FEATURE_FLAGS=quorum_queue,implicit_default_bindings,classic_mirrored_queue_version,restart_streams
    networks:
      - operandi
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 1s
      timeout: 5s
      retries: 120

  operandi-mongodb:
    image: "mongo"
    container_name: operandi-mongodb
    hostname: mongo-db-host
    ports:
      - "27017:27017"
    volumes:
      - "/operandi-mongodb:/data/db"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${OPERANDI_DB_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${OPERANDI_DB_ROOT_PASS}
    restart: on-failure
    networks:
      - operandi
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 1s
      timeout: 5s
      retries: 120

  operandi-server:
    image: ghcr.io/subugoe/operandi-server:latest
    container_name: operandi-server
    depends_on:
      operandi-rabbitmq:
        condition: service_healthy
      operandi-mongodb:
        condition: service_healthy
    restart: on-failure
    ports:
      - "8000:8000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.operandi-server.entrypoints=websecure"
      - "traefik.http.routers.operandi-server.rule=Host(`operandi.ocr-d.de`) && PathPrefix(`/`)"
      - "traefik.http.routers.operandi-server.tls.certresolver=myResolver"
      - "traefik.http.routers.operandi-server.middlewares=limit@docker"
      - "traefik.http.middlewares.limit.buffering.maxRequestBodyBytes=8000000000"
      - "traefik.http.middlewares.limit.buffering.maxResponseBodyBytes=8000000000"
    environment:
      - OPERANDI_DB_NAME=${OPERANDI_DB_NAME}
      - OPERANDI_DB_URL=${OPERANDI_DB_URL}
      - OPERANDI_HARVESTER_DEFAULT_USERNAME=${OPERANDI_HARVESTER_DEFAULT_USERNAME}
      - OPERANDI_HARVESTER_DEFAULT_PASSWORD=${OPERANDI_HARVESTER_DEFAULT_PASSWORD}
      - OPERANDI_LOGS_DIR=${OPERANDI_LOGS_DIR}
      - OPERANDI_RABBITMQ_URL=${OPERANDI_RABBITMQ_URL}
      - OPERANDI_SERVER_BASE_DIR=${OPERANDI_SERVER_BASE_DIR}
      - OPERANDI_SERVER_DEFAULT_USERNAME=${OPERANDI_SERVER_DEFAULT_USERNAME}
      - OPERANDI_SERVER_DEFAULT_PASSWORD=${OPERANDI_SERVER_DEFAULT_PASSWORD}
      - OPERANDI_SERVER_URL_LIVE=${OPERANDI_SERVER_URL_LIVE}
      - OPERANDI_SERVER_URL_LOCAL=${OPERANDI_SERVER_URL_LOCAL}
    volumes:
      - "${OPERANDI_LOGS_DIR}:${OPERANDI_LOGS_DIR}"
      - "${OPERANDI_SERVER_BASE_DIR}:${OPERANDI_SERVER_BASE_DIR}"
    networks:
      - operandi
    command: operandi-server start

  operandi-broker:
    image: ghcr.io/subugoe/operandi-broker:latest
    container_name: operandi-broker
    depends_on:
      operandi-rabbitmq:
        condition: service_healthy
      operandi-mongodb:
        condition: service_healthy
    restart: on-failure
    environment:
      - OPERANDI_DB_NAME=${OPERANDI_DB_NAME}
      - OPERANDI_DB_URL=${OPERANDI_DB_URL}
      - OPERANDI_HPC_PROJECT_NAME=${OPERANDI_HPC_PROJECT_NAME}
      - OPERANDI_HPC_PROJECT_USERNAME=${OPERANDI_HPC_PROJECT_USERNAME}
      - OPERANDI_HPC_SSH_KEYPATH=/home/root/.ssh/gwdg_hpc_key
      - OPERANDI_LOGS_DIR=${OPERANDI_LOGS_DIR}
      - OPERANDI_RABBITMQ_URL=${OPERANDI_RABBITMQ_URL}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "${OPERANDI_LOGS_DIR}:${OPERANDI_LOGS_DIR}"
      - "${OPERANDI_SERVER_BASE_DIR}:${OPERANDI_SERVER_BASE_DIR}"
      - "${OPERANDI_HPC_SSH_KEYPATH}:/home/root/.ssh/gwdg_hpc_key"
    networks:
      - operandi
    command: operandi-broker start
