singularity {
  enabled = true
  cacheDir = '/scratch1/users/mmustaf/singularityCache'
}

executor {
    name = 'slurm'
    queueSize = 100
    pollInterval = '30 sec'
    submitRateLimit = '5 sec'
}

process {
  withName: download_workspace {
    cpus = 1
    memory = 4.GB
    queue = 'medium'
  }
  withName: ocrd_cis_ocropy_binarize {
    cpus = 2
    memory = 8.GB
    queue = 'medium'
  }
}
