uvicorn==0.21.0
clint==0.5.1
fastapi>=0.95.0
pydantic>=1.9.1
python-dotenv>=1.0.0
click>=7
loguru>=0.6.0
ocrd_webapi @ git+https://github.com/OCR-D/ocrd-webapi-implementation.git@v0.10.0#egg=ocrd_webapi
