requests==2.27.0
robotframework-sshlibrary
clint==0.5.1
pydantic>=1.9.1
pytest>=7.0.0
click>=7
tomli >= 1.1.0 ; python_version < "3.11"
ocrd_webapi @ git+https://github.com/OCR-D/ocrd-webapi-implementation.git@v0.4.0#egg=ocrd_webapi
