aiofiles>=0.8.0
beanie==1.11.7
chardet>=5.1.0
click>=7
clint==0.5.1
loguru>=0.6.0
httpx>=0.24.0
ocrd>=2.62.0
paramiko==3.1.0
pika>=1.2.0
pydantic>=1.9.1
pymongo >= 4.3.3
python-dotenv>=1.0.0
python-multipart>=0.0.5
